@media screen and (max-width:600px){
    #navbar{
        display: none;
    }

    .navbar002{
        display: none;
    }
    #Home{
        width: 100%;
        min-height: 100vh;
        background-image: url(img/carousel-bg-1.jpg);
        background-size: cover;
        background-position: center;
        background-color: rgb(0,0,0,0.8);
        background-blend-mode: darken;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        /* background-color: red; */
    }

    .MainNavBar.active{
        display: flex;
        transform: translateX(0%);
        left: 0%;

    }

    .MainNavBar{
        position: fixed;
        top: 0;
        display: flex;
        background-color: var(--primary-color);
        width: 80%;
        height: 100vh;
        left: -100%;
        z-index: 999;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .maninavbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        position: fixed;
        top: 0px;
        z-index: 999;
    }

    .log{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .log h2{
        color: var(--main-color);
    }

    .log p{
        font-size: .7em;
        color: var(--secondary-color);
    }

    .strain{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
    }

    .strain .bttn button{
        width: 180px;
        font-size: .8em;
        color: var(--secondary-color);
    }

    .strain a{
        color: var(--secondary-color);
        font-size: .9em;
        transition: .3s ease-in-out;
    }

    .strain a:hover{
        transform: scale(1.1);
        color: var(--main-color);
    }

    .main001{
        display: flex;
        align-items: center;
    }

    .main001 h1{
        font-size: 1.2em;
        color: var(--main-color);
    }

    .main002{
        width: 45px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
    }
    
    .Home001 h1{
        color: var(--secondary-color);
        /* font-family: Arial, Helvetica, sans-serif; */
        /* margin-top: 10px; */
        text-align: left;
        font-size: 25px;
    }
    
    .Home001 h3{
        font-size: 15px;
        text-align: left;
        color: var(--main-color);
        /* margin-top: 10px; */
        /* text-align: center; */
    }
    
    .Home001 p{
        width: 300px;
        font-size: 0.8em;
        margin-top: 10px;
        text-align: left;
        color: var(--secondary-color);
    }
/* 
    .HomeBtn{
        display: grid;
        place-items: center;
    } */
    
    .HomeBtn button{
        width: 150px;
        height: 40px;
        margin-top: 10px;
        border: none;
        background-color: var(--main-color);
        font-size: .8em;
        color: var(--secondary-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .HomeBtn button a{
        color: var(--secondary-color);
        text-decoration: none;
        
    }
    
    .HomeImg img{
        margin-top: 30px;
        width: 300px;
        height: auto;
    }
    /* About section for the site */
    #About{
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

    }
    
    #About .About{
        width: 100%;
        min-height: 100vh;
        background-color: var(--secondary-color);
        display: grid;
        place-items: center;
    }
    
    .AboutCards{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .ACard{
        width: 320px;
        height: 200px;
        /* background-color: var(--main-color); */
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px grey;
    }
    
    .MoreInfo p{
        font-size: 0.7em;
        font-weight: 600;
        width: 200px;
        color: var(--primary-color);
    }
    
    .MoreInfo h3{
        /* font-size: 1.2em; */
        color: var(--main-color);
    }
    .MoreBtn button{
        margin-top: 10px;
        width: 120px;
        height: 30px;
    }
    
    .ACardImg{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .ACardImg span svg{
        width: 60px;
        height: 60px;
        color: var(--main-color);
    }
    
    .MoreBtn button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 150px;
        border: none;
        height: 35px;
        background-color: var(--main-color);
    }
    
    .MoreBtn button a{
        color: var(--secondary-color);
        text-decoration: none;
    }
    
    .About-More{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: yellow; */
        width: 88%;
        height: auto;
        gap: 20px;
        margin-top: 50px;
    }
    
    .About-details h3{
        text-align: left;
    }
    
    .AboutbgImage{
        width: 350px;
        height: 300px;
        /* background-color: red; */
        background-image: url(img/carousel-bg-2.jpg);
        background-color: rgb(0,0,0,0.4);
        background-blend-mode: darken;
        background-size: cover;
        background-position: center;
        /* position: relative; */
        color: var(--primary-color);
    
    }
    
    .About-details h4{
        margin-top: 5px;
        color: var(--main-color);
    }
    
    .About-details p{
        width: 300px;
        font-size: 0.8em;
    }
    
    .AboutbgImage .champ{
        color: var(--secondary-color);
        padding: 10px;
    }
    
    .champ span{
        font-size: 1.0em;
    }
    
    .About-details{
        width: 310px;
        height: 400px;
        /* background-color: blue; */
    }
    
    .colorPallete{
        background-color: var(--main-color);
        color: var(--secondary-color);
        width: 50px;
        height: 50px;
        display: grid;
        place-items: center;
    }
    
    .colorPallete span{
        font-size: 1.3em;
        font-weight: 600;
    }
    
    .About001{
        display: flex;
        align-items: center;
        gap: 10px;
        /* justify-content: space-around; */
        margin-top: 10px;
        color: var(--primary-color);
    }
    
    .About001 h3{
        font-size: 1.1em;
    }
    
    .btnn button{
        width: 150px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 40px;
        background-color: var(--main-color);
        border: none;
    }
    
    .btnn button a{
        color: var(--secondary-color);
    }
    
    .About001 p{
        width: 260px;
        font-size: 0.7em;
    }
    
    .moreInfoAbout{
        /* background-color: blue; */
        background-image: url(img/carousel-bg-1.jpg);
        background-position: center;
        background-size: cover;
        background-color: rgb(0,0,0,0.75);
        background-blend-mode: darken;
        width: 100%;
        height: 60vh;
        margin-top: 70px;
        display: flex;
        justify-content: center;
        color: var(--secondary-color);
    }
    
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: ;
        justify-content: center;
        gap: 10px;
    }
    
    .wrapperIcon{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .wrapperIcon p{
        font-size: .9em;
    }
    /* About section ends here */
    
    
/* Services section starts here */
#Services{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* background-color: red; */
}

.services{
    width: 100%;
    min-height: 100vh;
    /* background-color: red; */
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.services h3{
    color: var(--main-color);
    text-align: center;
    font-size: 15px;
}

.lots{
    color: var(--primary-color);
    text-align: center;
}

.main-Services{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.service001{
    width: 300px;
    height: 340px;
    /* box-shadow: 0 0 10px grey; */
    /* background-color: red; */
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-card{
    width: 300px;
    /* background-color: var(--main-color); */
    color: var(--secondary-color);
    height: 70px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px grey;
    /* background-color: red; */
    /* gap: 100px; */
    font-size: 0.9em;
    padding: 0px 10px;
    font-weight: 600;
}

.service001 .service-card:nth-child(1){
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: 0.9em;
}

.service-card h3{
    color: var(--main-color);
}

.service02{
    width: 300px;
    height: 400px;
    /* background-color: red; */
    box-shadow: 0 0 10px grey;
}

.service02 img{
    height: 100%;
    width: 100%;
}


.service003 h4{
    text-align: left;
}
.service003{
    /* background-color: red; */
    width: 300px;
    height: 350px;
    box-shadow: 0 0 10px grey;
    padding: 20px;
    color: var(--primary-color);
}

.service003 p{
    font-size: .8em;
    margin-top: 10px;
}

.vital{
    display: flex;
    gap: 3px;
    /* margin-top: 3px; */
}

.vital svg{
    transform: translateY(6px);
}


.bttn button{
    display: flex;
    align-items: center;
    gap: 4px;
    width: 150px;
    height: 40px;
    margin-top: 10px;
    justify-content: center;
    background-color: var(--main-color);
    border: none;
}

.bttn button a{
    color: var(--secondary-color);
}

.book-service {
    margin-top: 30px;
    background-color: rgb(0,0,0,0.8);
    min-height: 105vh;
    flex-direction: column;
    /* justify-content: center; */
    gap: 0px;
    align-items: center;
}

.contact {
    width: 100%;
    color: var(--secondary-color);
    /* background-color: blue; */
    overflow-x: hidden;
    display: flex;
    justify-content: center;

}

.contact p{
    font-size: .8em;
    width: 310px;
}

.contact h1{
    text-align: ;
    width: 300px;
    font-size: 20px;
}

.book-service form{
    background-color: var(--main-color);
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputgroup{
    margin-top: 10px;
}

.inputgroup input{
    width: 300px;
    height: 40px;
    padding-left: 5px;
    color: var(--primary-color);
    font-weight: 600;
}

.form h1{
    text-align: center;
    color: var(--secondary-color);
}

select{
    width: 300px;
    height: 40px;
}

.inputgroup input::placeholder{
    color: var(--primary-color);
    font-weight: 600;
}

textarea{
    width: 300px;
    margin-top: 10px;
    height: 100px;
    resize: none;
    accent-color: blue;
    padding: 5px;
}

textarea::placeholder{
    color: var(--primary-color);
    font-weight: 600;
}

.formBtn button{
    width: 300px;
    height:50px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1em;
}


/* Testimonials section */
#Testimonials{
    margin-top: 40px;
    width: 100%;
    height: 70vh;
    /* background-color: blue; */
}

#Testimonials h3{
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
}

#Testimonials h1{
    color: var(--primary-color);
    text-align: center;
}

#Testimonials .comments{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    background-color: rgb(225, 0, 0);
    text-align: center;
    color: var(--secondary-color);
    padding: 30px;
}

.commentImg img{
    width: 100px;
    border: 10px ridge var(--secondary-color);
    border-radius: 50%;
}

.final-comment{
    display: flex;
    align-items: center;
}

.final-comment p{
    width: 300px;
    font-size: 0.7em;
    color: var(--secondary-color);
}

.comma{
    font-size: 4em;
    color: var(--secondary-color);
}



/* Technician section */
#Technicians{
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
    /* background-color: red; */
}

.Technicians{
    /* background-color: red; */
    /* display: grid;
    place-items: center; */
}

#Technicians h3{
    color: var(--main-color);
    text-transform: uppercase;
}

.Tech{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

#Technicians h1{
    color: var(--primary-color);
}

.Tech001{
    transform: scale(0.8);
    /* background-color: red; */
    box-shadow: 0 0 10px grey;
    position: relative;
}

/* .Tech001::before{
    position: absolute;
    content: '';
    left: 0;
    transform: rotateY(30deg);
    width: 100%;
    /* clip-path: circle(30% at bottom);
    height: 50%;
    background-color: var(--primary-color);
} */


.Tech001 h4{
    margin-top: 20px;
    color: var(--primary-color);
    z-index: 1;
    font-size: 0.9em;
}

.Tech001 p{
    color: var(--primary-color);
    z-index: 1;
    font-size: 0.8em;
}


.techimg img{
    width: 100%;
    height: 100%;
}

/* s.split{} */

.socioIcons{
    opacity: 0;
    
    /* background-color: yellow; */
}

.socioIcons span img{
    width: 40px;
    height: 40px;
    border: 5px ridge var(--main-color);
    border-radius: 50%;
}

/* conatct section */

footer{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(0,0,0,0.9);
    background-image: url(img/carousel-bg-1.jpg);
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    padding-top: 20px;
    margin-top: 40px;
    background-color: ;
}

.footer h2{
    text-align: center;
    color: var(--secondary-color);

}

.socials span img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.footer{
    width: 100%;
    min-height: 40vh;
    /* background-color: blue; */
}

.footer-details{
    /* background-color: red; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: start;
    margin-left: 40px;
}

.detail001{
    width: 300px;
    height: 180px;
    /* background-color: var(--primary-color); */
    /* box-shadow: 0 0 10px grey; */
    padding-left: 10px;
}

.detail001:nth-child(4){
    width: 300px;
}

.Conclude{
    width: 100%;
    color: var(--secondary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    justify-content: space-between;
    padding: 20px 50px;
}

.Conclude p{
    font-size: 0.6em;
}

.Conclude p a{
    color: var(--main-color);
}
.finish{
    text-align: center;
}

.finish a{
    color: var(--secondary-color);
    font-size: 0.7em;
}

.serve p{
    font-size: .8em;
    color: var(--secondary-color);
}

.serve h3{
    color: var(--secondary-color);
}

.serve ul li{
    /* list-style: circle; */
    display: flex;
    /* flex-direction: column; */
}

.serve ul li a{
    color: var(--secondary-color);
    font-size: 0.8em;
}

.remaining{
    margin-top: 10px;
}

.remaining form{
    width: 270px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    font-size: .8em;
}

.remaining form input{
    width: 70%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
}

.Message{
    margin-top: 5px;
    font-size: .9em;
}


.remaining form button{
    width: 25%;
    height: 30px;
    background-color: var(--main-color);
    border: none;
    color: var(--secondary-color);
}

.ggoglemap{
    width: 50%;
    height: 400px;
    /* background-color: red; */
}

.moreRegards{
    width: 50%;
    height: 400px;
    /* background-color: blue; */
}

.Gallery{
    display: grid;
    grid-template-columns: repeat(2,120px);
    grid-template-rows: repeat(2,65px);
    grid-gap: 5px;
}

.Gallery img{
    width: 100%;
    height: 100%;
    border: 3px ridge red;
}

.logos{
    display: flex;
    color: var(--secondary-color);
}

.buton{
    margin-top: 7px;
    display: flex;
    gap: 2px;
    /* justify-content: ; */
    align-items: center;
    padding-right: 5px;
    font-size: 0.8em;
    color: var(--secondary-color);
}

.buton button{
    width: 50%;
    background-color: var(--main-color);
    border: none;
    height: 30px;
    color: var(--secondary-color);
}




    
}